pytest
coverage
pytest-cov
pylint
pylint_requests
pre-commit
sphinx
sphinx-rtd-theme
recommonmark
pip-tools
requests
black
flake8
flake8-pytest-style
flake8-bugbear
flake8-comprehensions
flake8-print
darglint
bandit
boto3
apig_wsgi
cruft
